<!DOCTYPE html>
<html lang="et">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
</head>
<body>
  <h2><%= news.title %></h2>
  <p><%= news.content %></p>
  <a href="/news/<%= news.id %>/edit">Muuda</a><br>
  <a href="/">Tagasi avalehele</a>

</body>
</html>